# Data Cleaning 1

In [1]:
import pandas as pd
import csv

In [2]:
gdp_world = pd.read_csv("../data/raw/world-gdp/world_gdp.csv")
oil_states = pd.read_csv("../data/raw/world-gdp/oil_producing_state.csv")

In [3]:
display(gdp_world)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10,NaN

In [4]:
display(oil_states)

            States  Unnamed: 1
0    United States         NaN
1           Russia         NaN
2     Saudi Arabia         NaN
3           Brazil         NaN
4             Iraq         NaN
..             ...         ...
101         Taiwan         NaN
102       Slovakia         NaN
103        Morocco         NaN
104         Jordan         NaN
105          Spain         NaN

[106 rows x 2 columns]

In [5]:
gdp_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            132 non-null    float64
 5   1961            134 non-null    float64
 6   1962            136 non-null    float64
 7   1963            136 non-null    float64
 8   1964            136 non-null    float64
 9   1965            147 non-null    float64
 10  1966            150 non-null    float64
 11  1967            153 non-null    float64
 12  1968            158 non-null    float64
 13  1969            158 non-null    float64
 14  1970            167 non-null    float64
 15  1971            170 non-null    float64
 16  1972            170 non-null    float64
 17  1973            170 non-null    float64
 18  1974            171 non-null    float64
 19  1975            173 non-null    float64
 20  1976            174 non-null    float64
 21  1977            177 non-null    float64
 22  1978            176 non-null    float64
 23  1979            177 non-null    float64
 24  1980            191 non-null    float64
 25  1981            194 non-null    float64
 26  1982            195 non-null    float64
 27  1983            196 non-null    float64
 28  1984            197 non-null    float64
 29  1985            199 non-null    float64
 30  1986            201 non-null    float64
 31  1987            205 non-null    float64
 32  1988            210 non-null    float64
 33  1989            210 non-null    float64
 34  1990            226 non-null    float64
 35  1991            226 non-null    float64
 36  1992            227 non-null    float64
 37  1993            229 non-null    float64
 38  1994            231 non-null    float64
 39  1995            240 non-null    float64
 40  1996            240 non-null    float64
 41  1997            240 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            249 non-null    float64
 46  2002            254 non-null    float64
 47  2003            254 non-null    float64
 48  2004            254 non-null    float64
 49  2005            254 non-null    float64
 50  2006            255 non-null    float64
 51  2007            255 non-null    float64
 52  2008            256 non-null    float64
 53  2009            256 non-null    float64
 54  2010            257 non-null    float64
 55  2011            260 non-null    float64
 56  2012            258 non-null    float64
 57  2013            259 non-null    float64
 58  2014            260 non-null    float64
 59  2015            258 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            257 non-null    float64
 64  2020            257 non-null    float64
 65  2021            251 non-null    float64
 66  2022            233 non-null    float64
 67  Unnamed: 67     0 non-null      float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB

In [6]:
oil_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   States      106 non-null    object
 1   Unnamed: 1  0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 1.8+ KB

In [7]:
oil_states.describe(include="all")

               States  Unnamed: 1
count             106         0.0
unique             97         NaN
top     United States         NaN
freq                2         NaN
mean              NaN         NaN
std               NaN         NaN
min               NaN         NaN
25%               NaN         NaN
50%               NaN         NaN
75%               NaN         NaN
max               NaN         NaN

In [8]:
oil_states_no_dup = oil_states.drop_duplicates().reset_index(drop=True)

In [9]:
oil_states_no_dup.describe(include="all")

               States  Unnamed: 1
count              97         0.0
unique             97         NaN
top     United States         NaN
freq                1         NaN
mean              NaN         NaN
std               NaN         NaN
min               NaN         NaN
25%               NaN         NaN
50%               NaN         NaN
75%               NaN         NaN
max               NaN         NaN

In [10]:
display(oil_states_no_dup)

           States  Unnamed: 1
0   United States         NaN
1          Russia         NaN
2    Saudi Arabia         NaN
3          Brazil         NaN
4            Iraq         NaN
..            ...         ...
92         Taiwan         NaN
93       Slovakia         NaN
94        Morocco         NaN
95         Jordan         NaN
96          Spain         NaN

[97 rows x 2 columns]

In [11]:
oil_states_clean = oil_states_no_dup.drop(columns=["Unnamed: 1"])

In [12]:
oil_states_clean.describe(include="all")

               States
count              97
unique             97
top     United States
freq                1

In [13]:
display(oil_states_clean)

           States
0   United States
1          Russia
2    Saudi Arabia
3          Brazil
4            Iraq
..            ...
92         Taiwan
93       Slovakia
94        Morocco
95         Jordan
96          Spain

[97 rows x 1 columns]

In [14]:
oil_states_clean = (
    oil_states_clean.rename(columns={"States": "Country"})
    .sort_values(by="Country")
    .reset_index(drop=True)
)
display(oil_states_clean)

          Country
0         Albania
1         Algeria
2          Angola
3       Argentina
4       Australia
..            ...
92  United States
93     Uzbekistan
94      Venezuela
95        Vietnam
96          Yemen

[97 rows x 1 columns]

In [15]:
test = pd.read_csv("../data/processed/gdp_world_2000_to_2002_tst.csv")
display(test)

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09,2.469832e+09,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),2.847593e+11,2.596431e+11,2.665294e+11,3.541768e+11,4.404818e+11,5.139416e+11,5.775869e+11,...,9.859871e+11,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12
2,Afghanistan,AFG,GDP (current US$),NaN,NaN,3.854235e+09,4.539497e+09,5.220825e+09,6.226199e+09,6.971383e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),1.409458e+11,1.485295e+11,1.772012e+11,2.052145e+11,2.542648e+11,3.108896e+11,3.969210e+11,...,8.339481e+11,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11
4,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735328e+09,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09
262,"Yemen, Rep.",YEM,GDP (current US$),9.652436e+09,9.861560e+09,1.069463e+10,1.177797e+10,1.387279e+10,1.674635e+10,1.906198e+10,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),1.517527e+11,1.354299e+11,1.290876e+11,1.970190e+11,2.558069e+11,2.888672e+11,3.038587e+11,...,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11
264,Zambia,ZMB,GDP (current US$),3.600632e+09,4.094441e+09,4.193850e+09,4.901870e+09,6.221110e+09,8.331870e+09,1.275686e+10,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10
265,Zimbabwe,ZWE,GDP (current US$),6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,5.805598e+09,5.755215e+09,5.443896e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10

In [16]:
test2 = pd.read_csv("../data/processed/oil_states copy.csv")
display(test2)

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/oil_states copy.csv'

In [ ]:
test2.describe(include="all")

       country_name country_code
count            97           97
unique           97           97
top         Albania          ALB
freq              1            1

In [ ]:
test

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09,2.469832e+09,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),2.847593e+11,2.596431e+11,2.665294e+11,3.541768e+11,4.404818e+11,5.139416e+11,5.775869e+11,...,9.859871e+11,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12
2,Afghanistan,AFG,GDP (current US$),NaN,NaN,3.854235e+09,4.539497e+09,5.220825e+09,6.226199e+09,6.971383e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),1.409458e+11,1.485295e+11,1.772012e+11,2.052145e+11,2.542648e+11,3.108896e+11,3.969210e+11,...,8.339481e+11,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11
4,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735328e+09,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09
262,"Yemen, Rep.",YEM,GDP (current US$),9.652436e+09,9.861560e+09,1.069463e+10,1.177797e+10,1.387279e+10,1.674635e+10,1.906198e+10,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),1.517527e+11,1.354299e+11,1.290876e+11,1.970190e+11,2.558069e+11,2.888672e+11,3.038587e+11,...,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11
264,Zambia,ZMB,GDP (current US$),3.600632e+09,4.094441e+09,4.193850e+09,4.901870e+09,6.221110e+09,8.331870e+09,1.275686e+10,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10
265,Zimbabwe,ZWE,GDP (current US$),6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,5.805598e+09,5.755215e+09,5.443896e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10

In [ ]:
merged = pd.merge(test, test2, on=["country_code"])

In [ ]:
merged.describe(include="all")

,country_name_x,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,country_name_y
count,96,96,96,9.500000e+01,9.500000e+01,9.500000e+01,9.500000e+01,9.500000e+01,9.500000e+01,9.500000e+01,...,9.600000e+01,9.500000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.300000e+01,9.300000e+01,9.000000e+01,9.000000e+01,96
unique,96,96,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96
top,Angola,AGO,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angola
freq,1,1,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,NaN,NaN,NaN,3.251018e+11,3.234094e+11,3.347988e+11,3.748841e+11,4.224149e+11,4.572288e+11,4.952772e+11,...,7.560834e+11,7.165127e+11,7.357580e+11,7.830066e+11,8.314372e+11,8.538241e+11,8.274462e+11,9.712122e+11,1.012231e+12,NaN
std,NaN,NaN,NaN,1.193743e+12,1.201591e+12,1.233625e+12,1.311797e+12,1.412610e+12,1.492789e+12,1.571358e+12,...,2.187030e+12,2.250195e+12,2.320787e+12,2.446300e+12,2.623984e+12,2.726721e+12,2.716783e+12,3.138096e+12,3.310703e+12,NaN
min,NaN,NaN,NaN,3.670879e+08,4.774435e+08,4.695067e+08,4.904391e+08,4.407646e+08,4.622836e+08,4.538051e+08,...,1.447310e+09,1.594448e+09,1.650619e+09,1.595724e+09,1.563888e+09,2.028552e+09,2.080000e+09,2.491500e+09,2.824082e+09,NaN
25%,NaN,NaN,NaN,8.429323e+09,8.880464e+09,9.295405e+09,1.016504e+10,1.172087e+10,1.377647e+10,1.843706e+10,...,3.673237e+10,3.685871e+10,3.641077e+10,3.794953e+10,4.040709e+10,4.190564e+10,4.253846e+10,4.517181e+10,4.686159e+10,NaN
50%,NaN,NaN,NaN,3.725374e+10,3.488960e+10,3.529779e+10,4.691997e+10,5.743744e+10,6.280872e+10,7.181908e+10,...,1.391391e+11,1.104138e+11,1.104896e+11,1.252031e+11,1.345467e+11,1.538830e+11,1.444114e+11,1.809763e+11,1.882356e+11,NaN
75%,NaN,NaN,NaN,1.411053e+11,1.358696e+11,1.316942e+11,1.752819e+11,2.155035e+11,2.371638e+11,2.699228e+11,...,4.470343e+11,3.850653e+11,3.896172e+11,3.989382e+11,4.257219e+11,4.179897e+11,3.838178e+11,4.704847e+11,4.908520e+11,NaN
max,NaN,NaN,NaN,1.025095e+13,1.058193e+13,1.092911e+13,1.145644e+13,1.221719e+13,1.303920e+13,1.381559e+13,...,1.755068e+13,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13,2.546270e+13,NaN

In [ ]:
country_code = test2["country_code"]
display(country_code)

0     ALB
1     DZA
2     AGO
3     ARG
4     AUS
     ...
92    USA
93    UZB
94    VEN
95    VNM
96    YEM
Name: country_code, Length: 97, dtype: object

In [ ]:
country_code.to_csv(
    "../data/processed/country_code.csv", sep=",", quotechar='"', quoting=csv.QUOTE_ALL, index=True
)

In [ ]:
display(country_code)

0     ALB
1     DZA
2     AGO
3     ARG
4     AUS
     ...
92    USA
93    UZB
94    VEN
95    VNM
96    YEM
Name: country_code, Length: 97, dtype: object

In [ ]:
mergetest = pd.merge(test, test2, on=["country_code"], indicator=True)

In [ ]:
display(mergetest)

,country_name_x,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2015,2016,2017,2018,2019,2020,2021,2022,country_name_y,_merge
0,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,Angola,both
1,Albania,ALB,GDP (current US$),3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052077e+09,8.896075e+09,...,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10,Albania,both
2,United Arab Emirates,ARE,GDP (current US$),1.043374e+11,1.033116e+11,1.098162e+11,1.243464e+11,1.478244e+11,1.806175e+11,2.221165e+11,...,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11,United Arab Emirates,both
3,Argentina,ARG,GDP (current US$),2.842038e+11,2.686968e+11,9.772400e+10,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,...,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11,Argentina,both
4,Australia,AUS,GDP (current US$),4.158450e+11,3.793578e+11,3.955730e+11,4.674980e+11,6.143264e+11,6.953050e+11,7.479074e+11,...,1.350580e+12,1.206563e+12,1.326467e+12,1.428267e+12,1.392219e+12,1.326945e+12,1.552703e+12,1.675419e+12,Australia,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Uzbekistan,UZB,GDP (current US$),1.376051e+10,1.140142e+10,9.687789e+09,1.013445e+10,1.203002e+10,1.430751e+10,1.733083e+10,...,8.619626e+10,8.613829e+10,6.208132e+10,5.287011e+10,6.028350e+10,6.022470e+10,6.960061e+10,8.039185e+10,Uzbekistan,both
92,"Venezuela, RB",VEN,GDP (current US$),1.171465e+11,1.229110e+11,9.289359e+10,8.362063e+10,1.124514e+11,1.455135e+11,1.834775e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venezuela,both
93,Viet Nam,VNM,GDP (current US$),3.117252e+10,3.268520e+10,3.506411e+10,3.955251e+10,4.542785e+10,5.763326e+10,6.637166e+10,...,2.392583e+11,2.570960e+11,2.813536e+11,3.101065e+11,3.343653e+11,3.466158e+11,3.661376e+11,4.088024e+11,Vietnam,both
94,"Yemen, Rep.",YEM,GDP (current US$),9.652436e+09,9.861560e+09,1.069463e+10,1.177797e+10,1.387279e+10,1.674635e+10,1.906198e+10,...,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,Yemen,both
95,South Africa,ZAF,GDP (current US$),1.517527e+11,1.354299e+11,1.290876e+11,1.970190e+11,2.558069e+11,2.888672e+11,3.038587e+11,...,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,South Africa,both

In [ ]:
mismatch = mergetest[mergetest["country_code"] !="both"]
mismatch

,country_name_x,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2015,2016,2017,2018,2019,2020,2021,2022,country_name_y,_merge
0,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,Angola,both
1,Albania,ALB,GDP (current US$),3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052077e+09,8.896075e+09,...,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10,Albania,both
2,United Arab Emirates,ARE,GDP (current US$),1.043374e+11,1.033116e+11,1.098162e+11,1.243464e+11,1.478244e+11,1.806175e+11,2.221165e+11,...,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11,United Arab Emirates,both
3,Argentina,ARG,GDP (current US$),2.842038e+11,2.686968e+11,9.772400e+10,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,...,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11,Argentina,both
4,Australia,AUS,GDP (current US$),4.158450e+11,3.793578e+11,3.955730e+11,4.674980e+11,6.143264e+11,6.953050e+11,7.479074e+11,...,1.350580e+12,1.206563e+12,1.326467e+12,1.428267e+12,1.392219e+12,1.326945e+12,1.552703e+12,1.675419e+12,Australia,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Uzbekistan,UZB,GDP (current US$),1.376051e+10,1.140142e+10,9.687789e+09,1.013445e+10,1.203002e+10,1.430751e+10,1.733083e+10,...,8.619626e+10,8.613829e+10,6.208132e+10,5.287011e+10,6.028350e+10,6.022470e+10,6.960061e+10,8.039185e+10,Uzbekistan,both
92,"Venezuela, RB",VEN,GDP (current US$),1.171465e+11,1.229110e+11,9.289359e+10,8.362063e+10,1.124514e+11,1.455135e+11,1.834775e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venezuela,both
93,Viet Nam,VNM,GDP (current US$),3.117252e+10,3.268520e+10,3.506411e+10,3.955251e+10,4.542785e+10,5.763326e+10,6.637166e+10,...,2.392583e+11,2.570960e+11,2.813536e+11,3.101065e+11,3.343653e+11,3.466158e+11,3.661376e+11,4.088024e+11,Vietnam,both
94,"Yemen, Rep.",YEM,GDP (current US$),9.652436e+09,9.861560e+09,1.069463e+10,1.177797e+10,1.387279e+10,1.674635e+10,1.906198e+10,...,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,Yemen,both
95,South Africa,ZAF,GDP (current US$),1.517527e+11,1.354299e+11,1.290876e+11,1.970190e+11,2.558069e+11,2.888672e+11,3.038587e+11,...,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,South Africa,both

In [ ]:
code = merged["country_code"]

In [ ]:
display(code)

0     AGO
1     ALB
2     ARE
3     ARG
4     AUS
     ...
91    UZB
92    VEN
93    VNM
94    YEM
95    ZAF
Name: country_code, Length: 96, dtype: object

In [ ]:
code.to_csv("../data/processed/code.csv", sep=",", quoting=csv.QUOTE_ALL,quotechar='"')

In [ ]:
gdp_world.loc[gdp_world["Country Code"] == "NGA"]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
174,Nigeria,NGA,GDP (current US$),NY.GDP.MKTP.CD,4.196175e+09,4.467288e+09,4.909399e+09,5.165590e+09,5.552931e+09,5.874538e+09,...,5.741838e+11,4.930268e+11,4.046490e+11,3.757457e+11,4.217392e+11,4.745175e+11,4.321989e+11,4.408336e+11,4.773861e+11,NaN

In [ ]:
import pandas as pd

# Load the dataset
gdp_df = pd.read_csv('../data/processed/gdp_world_cleaned_v1.csv')

# Define a list of African countries
african_countries = ["Nigeria",
"Libya",
"Angola",
"Algeria",
"Egpyt",
"Republic of congo",
"Gabon",
"Sudan",
"Chad","Cameroon",
"Equatorial guinea"
,"Tunisia",
"Ivory cost",
"Democratic republic of Congo"]

# Create the 'Continent' column
gdp_df['Continent'] = gdp_df['country_name'].apply(lambda x: 'Africa' if x in african_countries else 'Other')
print(gdp_df)