### The cleaning process include the following: <br>
Column renaming<br>
Row Dropping <br>
column dropping <br>
Data validation and datatype conversion if required <br>

In [1]:
import pandas as pd #for data cleaning
import csv # for exporting data to csv

In [ ]:
# Read in the data
gdp = pd.read_csv("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/raw/world-gdp/world_gdp.csv")
gdp.info()
gdp.head()

In [ ]:
# rename (country name to country_name, country code to country_code, indicator name to indicator_name, indicator code to indicator_code)
gdp_v1 = gdp.rename(columns={"Country Name": "country_name", "Country Code": "country_code", "Indicator Name": "indicator_name", "Indicator Code": "indicator_code"})
gdp_v1.head()

In [ ]:
# drop  columns (Unnamed:67, indicator_code)
gdp_v2 = gdp_v1.drop(columns=['Unnamed: 67', 'indicator_code'])
gdp_v2.head()

In [5]:
# drop rows that are less than 2000
gdp_v3 = gdp_v2.drop(gdp_v2.columns[3:43], axis=1)
gdp_v3.head()
gdp_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    266 non-null    object
 1   country_code    266 non-null    object
 2   indicator_name  266 non-null    object
 3   2000            247 non-null    float64
 4   2001            249 non-null    float64
 5   2002            254 non-null    float64
 6   2003            254 non-null    float64
 7   2004            254 non-null    float64
 8   2005            254 non-null    float64
 9   2006            255 non-null    float64
 10  2007            255 non-null    float64
 11  2008            256 non-null    float64
 12  2009            256 non-null    float64
 13  2010            257 non-null    float64
 14  2011            260 non-null    float64
 15  2012            258 non-null    float64
 16  2013            259 non-null    float64
 17  2014            260 non-null    float64
 18  2015            258 non-null    float64
 19  2016            258 non-null    float64
 20  2017            258 non-null    float64
 21  2018            258 non-null    float64
 22  2019            257 non-null    float64
 23  2020            257 non-null    float64
 24  2021            251 non-null    float64
 25  2022            233 non-null    float64
dtypes: float64(23), object(3)
memory usage: 54.2+ KB

In [25]:
# import country list dataset
world_countries_list = pd.read_json("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/raw/countries/country.json")
headers = world_countries_list.iloc[0].values # select the first row of the dataframe and extract the values as numpy array
world_countries_list.columns = headers # set the header of dataframe rows as the extracted numpy array
world_countries_list.drop(index=0, axis=0, inplace=True) # drop the first row of the dataframe

In [26]:
world_countries_list.head(10)

,Country,ISO 3166-1alpha2,ISO 3166-1alpha3,ISO 3166-1numeric,IOC,Fips 10,LicensePlate,Domain
1,Afghanistan,AF,AFG,004,AFG,AF,AFG,.af
2,Åland Islands,AX,ALA,248,,,AX,.ax
3,Albania,AL,ALB,008,ALB,AL,AL,.al
4,Algeria,DZ,DZA,012,ALG,AG,DZ,.dz
5,American Samoa,AS,ASM,016,ASA,AQ,USA,.as
6,Andorra,AD,AND,020,AND,AN,AND,.ad
7,Angola,AO,AGO,024,ANG,AO,ANG,.ao
8,Anguilla,AI,AIA,660,,AV,AXA,.ai
9,Antarctica,AQ,ATA,010,,AY,,.aq
10,Antigua and Barbuda,AG,ATG,028,ANT,AC,AG,.ag

In [27]:
world_countries_list_v1 = world_countries_list.rename(columns = {"Country" : "country_name", "ISO 3166-1alpha3": "country_code"})

In [31]:
world_countries_list_v2 = world_countries_list_v1.drop(world_countries_list_v1.columns[3:8], axis=1)

In [36]:
#world_countries_list_v2.drop(columns=[ 'ISO 3166-1alpha2'], inplace=True)
world_countries_list_v2.head(10)

           country_name country_code
1           Afghanistan          AFG
2         Åland Islands          ALA
3               Albania          ALB
4               Algeria          DZA
5        American Samoa          ASM
6               Andorra          AND
7                Angola          AGO
8              Anguilla          AIA
9            Antarctica          ATA
10  Antigua and Barbuda          ATG

In [37]:
# export the dataframe to csv
world_countries_list_v2.to_csv("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/processed/country/countries_list/world_countries_list.csv", sep = ",", quotechar='"', index=False, quoting=csv.QUOTE_ALL)